.card {
  width: 50%;
  color: #717d7e;
}

@media (max-width: 640px) {
    .card {
        display: none;
    }
}
.card-head {
  text-align: center;
  padding: 20px;
}

.card-head img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 12px;
}

.card-head h2 {
    font-size: 20px;
    color: black;
    margin: 0;
    padding: 0;
}

.card-head p {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.card-data {
    font-size: 16px;
    padding: 24px;
}

.card-data dl {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.card-data dt {
    width: 30%;
    font-weight: bold;
    color: #1c2833;
    padding: 4px 0;
}

.card-data dd {
    width: 70%;
    margin: 0;
    padding: 4px 0;
}

.card-data a {
    color: #76448a;
}

.card-data button {
    background-color:  #af7ac5;
    color: white;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    border-style: hidden;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 8px 16px;
}
