.recent {
    width: 50%;
    padding: 16px, 12px;
    color:  #424949;
}
/*
@media (max-width: 640px) {
    .recent {
        width: 100%;
    }
}*/

.recent ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 15px;
}

.recent li {
    margin: 0;
    padding: 6px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.recent li.hover {
    background-color:   #f4f6f6;
}

.recent img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.recent .arrow {
    width: 20px;
    height: 20px;
}

.recent .name {
    margin-left: 10px;
    flex-grow: 1;
}