.search {
  width: 100%;
  height: 35px;
  display: flex;
  border-bottom: 1px solid #9b59b6;
}

.search-icon {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search-icon img {
  width: 20px;
  height: 20px;
}

.search input {
  flex-grow: 1;
  padding: 8px, 16px, 8px, 8px;
  border: none;
  outline: none;
}
